---
# seo
metaDescription: "Jack Howard is a principal full-stack software engineer. He has more than seven years experience in
React, Node.js, and AWS. He works at Expel."
metaTitle: Jack Howard
googleSiteVerification: Ufu6ARR8Anx86xdNZ39V76Bnp0_zo5lwVgAWNTLlmbQ
metaCanonicalURL: "https://jackhowa.com"

# content
contentTitle: Jack Howard
contentSubtitle: Principal Software Engineer at Expel
firstLinkURL: https://github.com/JackHowa
firstLinkTitle: GitHub
secondLinkURL: https://www.linkedin.com/in/jackhowa/
secondLinkTitle: LinkedIn
---

<!DOCTYPE html>
<html lang="en-us">

  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="description" content="{{metaDescription}}"/>
    <meta name="theme-color" content="#113134" media="(prefers-color-scheme: dark)">
    <meta name="google-site-verification" content="{{googleSiteVerification}}"/>
    <meta name="generator" content="eleventy">
    {% set css %}
    {% include "styles.css" %}
    {% endset %}
    <style>
      {{css | cssmin | safe}}
    </style>
    <link rel="manifest" href="/manifest.json"/>
    <link rel="canonical" href="{{metaCanonicalURL}}"/>
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png"/>
    <title>{{metaTitle}}</title>
  </head>

  <body>
    <main>
      <h1>{{contentTitle}}</h1>
      <h2>{{contentSubtitle}}</h2>
      <a href="{{firstLinkURL}}" target="_blank" rel="noreferrer">{{firstLinkTitle}}</a>
      <a href="{{secondLinkURL}}" target="_blank" rel="noreferrer">{{secondLinkTitle}}</a>
    </main>
  </body>

</html>
