---
# seo involvement
metaDescription: "Jack Howard is a senior full-stack software engineer. He has more than four years experience in
React and React Native, JavaScript, and web development. Jack has developed mobile and web apps for journalism
organizations, banks and private equity companies, and startups in the transportation industry. He works at
The Washington Post's Arc XP."
metaTitle: Jack Howard
googleSiteVerification: Ufu6ARR8Anx86xdNZ39V76Bnp0_zo5lwVgAWNTLlmbQ
# themeColor: "#113134"
metaCanonicalURL: "https://jackhowa.com"

# content
contentTitle: Jack Howard
contentSubtitle: Senior Software Engineer at Arc XP
firstLinkURL: https://github.com/JackHowa
firstLinkTitle: GitHub
secondLinkURL: https://www.linkedin.com/in/jackhowa/
secondLinkTitle: LinkedIn
---

<!DOCTYPE html>
<html lang="en-us">

  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1"/>
    <meta name="description" content="{{metaDescription}}"/>
    <meta name="theme-color" 
      content="#ffcfb8" 
      media="(prefers-color-scheme: light)">
    <meta name="theme-color" 
      content="#113134" 
      media="(prefers-color-scheme: dark)">
    <meta name="google-site-verification" content="{{googleSiteVerification}}"/>
    {% set css %}
    {% include "styles.css" %}
    {% endset %}
    <style>
      {{css | cssmin | safe}}
    </style>
    <link rel="manifest" href="/manifest.json"/>
    <link rel="canonical" href="{{metaCanonicalURL}}"/>
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png"/>
    <title>{{metaTitle}}</title>
  </head>

  <body>
    <main>
      <h1>{{contentTitle}}</h1>
      <h2>{{contentSubtitle}}</h2>
      <a href="{{firstLinkURL}}" target="_blank" rel="noreferrer">{{firstLinkTitle}}</a>
      <a href="{{secondLinkURL}}" target="_blank" rel="noreferrer">{{secondLinkTitle}}</a>
    </main>
  </body>

</html>