---
# seo
metaDescription: "Jack Howard is a senior full-stack software engineer. He has more than four years experience in
React, Node.js, and AWS. He works at Arc XP."
metaTitle: Jack Howard
googleSiteVerification: Ufu6ARR8Anx86xdNZ39V76Bnp0_zo5lwVgAWNTLlmbQ
metaCanonicalURL: "https://jackhowa.com"

# content
contentTitle: Jack Howard
contentSubtitle: Senior Software Engineer at Arc XP
firstLinkURL: https://github.com/JackHowa
firstLinkTitle: GitHub
secondLinkURL: https://www.linkedin.com/in/jackhowa/
secondLinkTitle: LinkedIn
---

<!DOCTYPE html>
<html lang="en-us">

  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1"/>
    <meta name="description" content="{{metaDescription}}"/>
    <meta name="google-site-verification" content="{{googleSiteVerification}}"/>
    <meta name="generator" content="eleventy">
    {% set css %}
    {% include "styles.css" %}
    {% endset %}
    <style>
      {{css | cssmin | safe}}
    </style>
    <link rel="manifest" href="/manifest.json"/>
    <link rel="canonical" href="{{metaCanonicalURL}}"/>
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png"/>
    <title>{{metaTitle}}</title>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
          {
            "@type": "ListItem",
            "position": 1,
            "name": "LinkedIn Profile And Resume",
            "item": "https://www.linkedin.com/in/jackhowa/"
          }, {
            "@type": "ListItem",
            "position": 2,
            "name": "GitHub Code Portfolio",
            "item": "https://github.com/JackHowa"
          }
        ]
      }
    </script>
  </head>

  <body>
    <main>
      <h1>{{contentTitle}}</h1>
      <h2>{{contentSubtitle}}</h2>
      <a href="{{firstLinkURL}}" target="_blank" rel="noreferrer">{{firstLinkTitle}}</a>
      <a href="{{secondLinkURL}}" target="_blank" rel="noreferrer">{{secondLinkTitle}}</a>
    </main>
  </body>

</html>