:root {
  /* setting color scheme for light/dark text */
  color-scheme: light dark;
  --light-color: white;
  --dark-color: black;
  --pink: rgba(255,102,153,1);
  --yellow: #FFFF00;
  --orange: #FF5733;
  --red: #f11e1c;
}

html {
  --primary-color: var(--dark-color);
  --secondary-color: var(--light-color);

  background-color: var(--primary-color);
  text-align: center;
  position: fixed;
  width: 100%; 
  height: 100%;
  margin: 0;
  padding: 0;
  /* system specific font */
  font-family: 'Open Sans', sans-serif;
}

@media (prefers-color-scheme: light) {
  html {
    --primary-color: var(--light-color);
    --secondary-color: var(--dark-color);
  }
}

body {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

main {
  margin: 0;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10vw 0 10vw;
}

h1 {
  font-size: 5vmax;
  margin: 0;
  padding: 0 0 1rem 0;
}

h2 {
  font-size: 3vmax;
  margin: 0;
  padding: 0 0 1rem 0;
}

a {
  font-size: 3vmax;
  padding: 0.25rem;

  /* setting text color of links to match other canvastext */
  color: black;
  text-align: center;
  margin: 1rem 0;
  /* seems to cause the border I want via apple */
  border-radius: 980px;
  background-color: var(--pink);
}

.link-inner-container {
  padding: 0.75rem;
  border-radius: 980px;
  border: 1px solid var(--yellow);
}
