html {
  /* weird issues with body not encompassing all */
  background-color: #113134;
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* system specific font */
  font-family: -apple-system, system-ui, "Helvetica Neue", "Helvetica", "Arial",
  sans-serif;
  color: #fff;
}

body {
  /* overscroll behavior doesn't work on safari */
  /* https://caniuse.com/#feat=css-overscroll-behavior */
  overscroll-behavior: none;
  margin: 0;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10vw 0 10vw;
}

h1 {
  font-size: 5vmax;
  margin: 0;
}

h2 {
  font-size: 3vmax;
  margin: 0;
  padding: 0.5em 0 1em 0;
}

a {
  padding: 0.5em;
  font-size: 3vmax;
  color: #ffcfb8;
  text-decoration: none;
  min-width: 300px;
  text-align: center;
}

a:hover {
  text-decoration: underline;
}

footer {
  padding: 2em 0 0 0;
  border-top: 0.5px dashed #4a5568;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}
